# build outputs
*.o
*.a
*.so
*.so.*
dcf_serialize_test
dcf_serialize_hostile_test
dcf_serialize_fuzz
dcfs_gate_diff_test
dcfs_gate_guard_test
dcfs_gate_bench
varsint_emit
fuzz-corpus/
result
*.gcov
*.gcda
*.gcno
